.c-right-sidebar {
  padding: var(--page-content-padding);
  background-color: blanchedalmond;
}

/* desktop breakpoint */
@media (min-width: 1024px) {
  .c-right-sidebar {
    overflow-y: auto; /* can scroll */
  }
}
