.c-dashboard__container {
  background-color: var(--body-bg);
  color: var(--body-color);
  padding: calc(var(--page-content-padding) + 15px);
  margin-left: 0px;
  width: 100%;
  transition: all 0.3s ease;
  overflow-y: auto;
  position: inherit;
  height: inherit;
}

.c-sidebar--collapsed .c-dashboard__container {
  margin-left: var(--left-sidebar-width-sm);
  width: calc(100% - var(--left-sidebar-width-sm));
}

.c-sidebar--open .c-dashboard__container {
  margin-left: var(--left-sidebar-width);
  width: calc(100% - var(--left-sidebar-width));
}

/* tablet breakpoint */
@media (max-width: 768px) {
  .c-dashboard__container {
    overflow-x: hidden;
  }
}

