.l-page {
  min-height: 100%;
  background-color: var(--body-bg);
}

.l-page__content {
  width: 100%;
  height: var(--page-content-height);
  margin-top: var(--header-height);
}

/* mobile breakpoint */
@media (max-width: 480px) {
}

/* tablet breakpoint */
@media (max-width: 768px) {
}

/* desktop breakpoint */
@media (min-width: 1024px) {
}
