.c-sidebar__nav-item {
  width: 100%;
  padding: 10px 15px;
  border-radius: 4px;
}
.c-sidebar-item--is-active.c-sidebar__nav-item {
  background-color: var(--sidebar-item-active-bg);
}
.c-sidebar__nav-item:hover {
  background-color: var(--sidebar-item-hover-bg-color);
}

.c-sidebar__nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  flex-wrap: nowrap;
  gap: 10px;
  text-decoration: none;
  height: 20px;
  white-space: nowrap;
}
.c-sidebar--collapsed .c-sidebar__nav-link {
  overflow: hidden;
}

.c-sidebar-item__title {
  color: var(--sidebar-item-color);
  font-weight: 400;
  opacity: 1;
}
.c-sidebar-item--is-active .c-sidebar-item__title {
  color: var(--sidebar-item-active-color);
  font-weight: var(--font-weight-600);
}
.c-sidebar__nav-item:hover .c-sidebar-item__title {
  color: var(--sidebar-item-hover-color);
  font-weight: var(--font-weight-600);
}
.c-sidebar--collapsed .c-sidebar-item__title {
  opacity: 0;
}

.c-sidebar-item__icon {
  fill: var(--sidebar-item-color);
  width: 1em;
  height: 1em;
  vertical-align: -0.2em;
}
.c-sidebar-item--is-active .c-sidebar-item__icon {
  fill: var(--sidebar-item-active-color);
}
.c-sidebar__nav-item:hover .c-sidebar-item__icon {
  fill: var(--sidebar-item-hover-color);
}
