.l-page__footer {
  height: var(--footer-height);
  padding: var(--page-content-padding);
  background-color: var(--topbar-bg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all 0.3s ease;
  bottom: 0;
  position: absolute;
}


