.c-sidebar {
  padding: var(--left-sidebar-padding);
  padding-bottom: calc(var(--footer-height) + 1.5rem);
  background-color: var(--sidebar-bg);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 100;
}

.l-sidebar--open .c-sidebar {
  width: var(--left-sidebar-width);
}

.l-sidebar--collapsed .c-sidebar {
  width: var(--left-sidebar-width-sm);
  padding: var(--left-sidebar-padding-sm);
  padding-bottom: calc(var(--footer-height) + 1.5rem);
}

.l-sidebar--hidden .c-sidebar {
  opacity: 0;
}

.l-sidebar--hidden.l-sidebar--open .c-sidebar {
  opacity: 1;
}

.c-sidebar__header {
  position: relative;
  height: 3rem;
  width: inherit;
}

.l-page .c-sidebar .l-sidebar--collapsed {
  position: absolute;
  width: var(--left-sidebar-width-sm);
}

.c-sidebar__toggle-button {
  position: absolute;
  cursor: pointer;
  right: -0.6em;
  top: 0em;
  height: 1.5em;
  width: 1.5em;  
  vertical-align: -0.2em;
  fill: #39AFD1;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #3a444e;
}

.l-sidebar--hidden .c-sidebar__toggle-button {
  visibility: hidden;
}