.l-page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1f auto; /* 3 rows: header, content, footer. content has variable height */
  background-color: red;
}

.l-page__header {
  width: 100%;
  height: var(--header-height);
  padding: var(--page-content-padding);
  
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.l-page__header__right-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.l-page__content {
  width: 100%;
  height: var(--page-content-height);
}

.l-page__footer {
  width: 100%;
  height: var(--footer-height);
  padding: var(--page-content-padding);
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* tablet breakpoint */
@media (max-width: var(--breakpoint-medium-max)) {
}

/* desktop breakpoint */
@media (min-width: var(--breakpoint-regular-min)) {
}
