:root {
  --header-height: 60px;
  --footer-height: 50px;
  --page-content-height: calc(
    100vh - var(--footer-height) - var(--header-height)
  );
  --page-content-padding: 15px;
}

.l-page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1f auto;
  background-color: red;
}

.l-page__header {
  width: 100%;
  height: var(--header-height);
  padding: var(--page-content-padding);
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.l-page__header__right-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.l-page__content {
  width: 100%;
  height: var(--page-content-height);
}

.l-page__footer {
  width: 100%;
  height: var(--footer-height);
  padding: var(--page-content-padding);
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* tablet breakpoint */
@media (max-width: 1024px) {
}

/* desktop breakpoint */
@media (min-width: 1024px) {
}
