.c-dashboard__main-content {
    background-color: black;
    color: white;
    padding: var(--page-content-padding);
    width: 100%;
    transition: all 0.3s ease;
  }
  
  /* desktop breakpoint */
  @media (min-width: 1024px) {
    .c-dashboard__main-content {
      overflow-y: auto; /* can scroll */
    }
  }
  