.c-dashboard__main-content {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  padding: var(--page-content-padding);
  margin-left: 0px;
  width: 100%;
  transition: all 0.3s ease;
  overflow-y: auto;
  position: relative;
  height: inherit;
}

.c-dashboard__container {
  padding: 10px;
}

.c-sidebar--collapsed .c-dashboard__main-content {
  margin-left: var(--left-sidebar-width-sm);
  width: calc(100% - var(--left-sidebar-width-sm));
}

.c-sidebar--open .c-dashboard__main-content {
  margin-left: var(--left-sidebar-width);
  width: calc(100% - var(--left-sidebar-width));
}

/* tablet breakpoint */
@media (max-width: 768px) {
  .c-dashboard__main-content {
    overflow-x: hidden;
  }
}

