.c-topnavbar {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  background-color: var(--topbar-bg);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 0.25s ease-in-out;
  z-index: 1005;
}

.c-topnavbar__container {
  display: flex;
  height: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--page-content-padding);
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
}

.c-topnavbar__left-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-box-align: center !important;
  gap: 1.4rem;
  justify-content: left;
  flex-wrap: nowrap;
}

.c-topnavbar__icon {
  fill: var(--topbar-item-color);
  width: 1.2em;
  height: 1.2em;
  cursor: pointer; 
  vertical-align: -0.2em;

  &.bars {
    visibility: hidden;
  }
}

.c-topnavbar__item {
  color: var(--topbar-item-color);
  text-decoration: none;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-600);
}

.c-topnavbar__right-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  -webkit-box-align: center !important;
}

/* tablet breakpoint */
@media (max-width: 768px) {
  .c-topnavbar__bars-icon {
    visibility: visible;
  }
}