.c-topnavbar {
  width: 100%;
  height: var(--header-height);
  position: sticky;
  top: 0;
  background-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-bottom: 0px solid #dee2e6;
  transition: all 0.25s ease-in-out;
  z-index: 1005;
}

.c-topnavbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--page-content-padding);
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
}

.c-topnavbar__left-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-box-align: center !important;
  gap: 1rem;
  justify-content: left;
  flex-wrap: nowrap;
}

.c-topnavbar__bars-icon {
  fill: black;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  visibility: hidden;
}

.c-topnavbar__right-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style-type: none;
  align-items: center;
  -webkit-box-align: center !important;
}

/* desktop breakpoint */
@media (max-width: 480px) {
  .c-topnavbar__bars-icon {
    visibility: visible;
  }
}