.c-sidebar {
  padding: var(--page-content-padding);
  padding-bottom: calc(var(--footer-height) + 1.5rem);
  background-color: blanchedalmond;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 1001;
}

.c-sidebar--open .c-sidebar {
  width: var(--left-sidebar-width);
}

.c-sidebar--collapsed .c-sidebar {
  width: var(--left-sidebar-width-sm);
}

.c-sidebar__header {
  position: relative;
}

.l-page .c-sidebar .c-sidebar--collapsed {
  position: absolute;
  width: var(--left-sidebar-width-sm);
}

/* desktop breakpoint */
@media (min-width: 1024px) {
  .c-sidebar {
    overflow-y: auto; /* can scroll */
  }
}
