.c-home__main-content {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  padding: var(--page-content-padding);
  height: inherit;
}

/* desktop breakpoint */
@media (min-width: 1024px) {
  .c-home__main-content {
    overflow-y: auto; /* can scroll */
  }
}
